.__admin_page__{
    width:  100vw;
    height: 100vh;
}

.__list_inscription__{
    background-color: var(--col-2);

}

.__titre_liste__{
    background-color: var(--col-1);
    display: flex;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    font-size: larger; 
    padding-left: 20px; 
}

.__cont__{
    overflow-y: auto;
}

.__l_insc_item__{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.__img_{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
}

.__pdp_user__{
    height: 200px;
    width:  200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.__pdp_user__ img{
    width: 100%;
    height: 100%;
}

.__CIN_user__{
    height: 300px;
}

.__CIN_user_item__{
    position: relative;
}

.__CIN_user_item__ img{
    width: 100%;
    height: 100%;
}