.__admin_page__{
    width:  100vw;
    height: 100vh;
    background-color: var(--col-1);
}


.__titre_liste__{
    background-color: var(--col-1);
    display: flex;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    font-size: larger; 
    padding-left: 20px; 
}

.__titre_liste__ svg{
    height: 25px;
    width:  25px;
    margin: 5px;
}

.__cont__{
    overflow-y: auto;
    background-color: var(--col-1);
}

.__l_insc_item__{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.__img_{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
}

.__pdp_user__{
    height: 200px;
    width:  200px;
    border-radius: 50%;
}

.__CIN_user__{
    height: 300px;
    position: relative;
}

.__out_download__{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 52, 52, 0.181);
    margin: 0;
    display: none;
    transition: all .3s;
}

.__CIN_user__:hover .__out_download__{
    display: flex;
}

.__down_ticket__{
    width: 100px;
    height: 100px;
    background-color: var(--col-4);
    border: none;
    outline: none;
    padding: 0;
    position: relative;
}

.__down_ticket__ svg{
    width:  30px;
    height: 30px;
    color: aliceblue;
}

.__modat_content__{
    max-height: 70vh;
    overflow-y: scroll;
}

.__list_inscription___{
    background-color: var(--col-1);
}
.___z___{
    z-index: 9999;
}