.App {
  width:  100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App .header {
  width: 100%;
  height: 60px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  background: var(--col-1);
  font-size: 1.2em;
  line-height: 44px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App .header ._quitView_btn_{
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: aliceblue;
}

._quitView_btn_ svg{
  width:  23px;
  height: 23px;
}