:root{
  --col-0:#2a4953;
  --col-1:#086684;
  --col-2:#4db7d8;
  --col-3:#407585;
  --col-4:#387486;
  --col-5:#34616f;
  --col-gray:#4e656c;
}

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
