:root{
    --nav-heught:50px;
    --bg-dark:rgb(32 36 40);
    --bg-light:rgb(248 249 250);
}

.__container__{
    background: var(--col-1);
}

._img_{
    width:  80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
}

._img_ svg{
    margin: 0;
    width: 100%;
    height: 100%;
}

.__pass_in_{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

._eye_{
    position: absolute;
    color: black;
    cursor: pointer;
}

.__hide__{
    height: 0;
}

.__login_page__{
    background-image: url(/bg-auth.png);
    position: relative;
}

.__alert__{
    z-index: 99999999;
}