.__cyt_nav__{
    height: 60px;
    background-color: var(--col-1);
    overflow: hidden;
    z-index: 9999;
}

.__cyt_nav_m_i__{
    display: inline-block;
    cursor: pointer;
    position: relative;
}

._cyt_nav_selected_::before{
    content: "";
    width: 80%;
    height: 8px;
    background: white;
    margin: auto;
    position: absolute;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: calc(100% + 5px);
}